body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/public/images/panorama-lac-dallos-montagne-c-florianscala-1280x645-1734687992.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  color: white;
}

hr {
  height: 5px;
  background-color: rgb(62, 62, 62);
  border: none;
  position: relative;
}

@media (max-width: 420px) {
  body {
    background-color: red;
  }
}
