/* Style pour tes liens en bas (Footer) */
.lien-footer {
  padding-top: 30px; /*agrandi le fond de couleur du footer*/
  padding-bottom: 25px;
  margin-top: 110px;
  display: flex;
  justify-content: center;
  gap: 15px; /*espace les liens*/
}

.lien-footer a {
  color: rgb(67, 64, 126); /* On utilise le même bleu que ta ligne <hr> */
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.politique {
  color: black;
}

.lien-footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(203, 203, 203);
}
