/* banniere du haut */

.banniere-haut {
  width: 100%;
  height: 140px;
  background-image: url("/public/images/image_reunion.avif");
  background-size: cover;
  background-position: center;
  position: absolute; /*pour que le titre soit au top*/
  top: 0;
  z-index: -1; /*mets le texte au dessus de l'image*/
}

/*Titre du site */

h1 {
  text-transform: uppercase;
  letter-spacing: 5px; /* Ecarte les lettres */
  text-align: center;
  font-family: Georgia, serif;
  text-shadow: 10px 0px 15px rgb(0, 0, 0);
  color: white;
  margin-top: 80px; /* Espace pour ne pas coller au haut de la page */
}

/* bouton du logo */
.lien-logo {
  display: flex; /* Aligne l'image et le texte sur la même ligne */
  align-items: center;
  text-decoration: none; /* Enlève le souligné bleu du lien */
  background: rgba(1, 1, 1, 0.4);
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

/* pour le logo (hover pour survol) */
.lien-logo:hover {
  background: rgba(71, 69, 69, 0.6);
  transform: scale(1.05);
}

/* taille du logo */

.logo {
  height: 35px;
  margin-right: 10px;
}

/* titre du logo en blanc */
.site-name {
  color: white;
}
