/* mon profil*/
.lien-profil {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: rgba(1, 1, 1, 0.4);
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  transition: 0.3s;
}

.lien-profil:hover {
  background: rgba(71, 69, 69, 0.6);
  transform: scale(1.05);
}

/* image de profil  */
.profil {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

/* barre de navigation */
.barre-nav {
  position: absolute;
  top: 30px;
  left: 40px;
  right: 20px; /*mets les boutons sur les cotÃ©s*/
  display: flex;
  justify-content: space-between; /*espace les boutons*/
  align-items: center; /* Aligne verticalement le logo et le profil */
}



.dark-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a; /* Fond sombre comme ta capture */
    color: #ccc;
}
.dark-table th, .dark-table td {
    padding: 12px;
    border: 1px solid #333;
    text-align: left;
}
.dark-table tr:nth-child(even) { background-color: #222; }
.add-btn { background-color: #6200ea; color: white; border-radius: 4px; padding: 10px 20px; }