/*barre de recherche */
.recherche {
  height: 250px;
  position: relative;
  width: 80%;
  left: 10%;
}

/* Placement du formulaire au milieu de l'image */
form {
  position: relative;
  text-align: center;
  top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Style des petits boutons "Rechercher" */
.bouton-recherche {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  position: relative;
  right: 15px;
}

#secteur {
  background: rgba(254, 254, 254, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  width: 320px;
  height: 35px;
}

#zone {
  background: rgba(246, 246, 246, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  height: 35px;
}

input::placeholder {
  color: rgb(0, 0, 0);
  position: relative;
  left: 30px;
}

.bouton-recherche2 {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}
/* reponsive pour les barres de recherches */
@media (max-width: 940px) {
  .recherche {
    width: 100%;
    left: 0;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  #secteur,
  #zone {
    width: 70%;
  }

  .bouton-recherche1,
  .bouton-recherche2 {
    width: 400px;
  }
}
