{% extends 'base.html.twig' %}

{% block title %}Accueil-
{% endblock %}

{% block content %}
	<style>:root
	{
		--glass: rgba(255, 255, 255, 0.1);
	}

	.card-img-custom {
		transition: 0.4s;
		border-radius: 15px;
	}
	.card-img-custom:hover {
		transform: scale(1.05);
	}

	h2 {
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: rgb(26, 189, 230);
		font-size: 30px;
		font-weight: bold;
	}
</style>

<main class="container py-5 text-center">
	<h2 class="mb-5">Offres Récentes</h2>
	<div class="row g-4 justify-content-center mb-5">
		<div class="col-6 col-md-3">
			<a href="/postule">
				<img src="./image/offres.png" class="img-fluid card-img-custom shadow"/></a>
		</div>
		<div class="col-6 col-md-3">
			<img src="./image/offres.png" class="img-fluid card-img-custom shadow"/>
		</div>
		<div class="col-6 col-md-3">
			<img src="./image/offres.png" class="img-fluid card-img-custom shadow"/>
		</div>
	</div>

	<div class="row g-5 align-items-center mb-5">
		<div class="col-lg-6">
			<img src="./image/SuivreCanditatures.png" class="img-fluid rounded-4 glass p-2"/>
		</div>
		<div class="col-lg-6 glass p-5">
			<h3>Suivez votre candidature</h3>
			<p class="text-light">
				Gardez le contrôle à chaque étape. Postulez en toute sérénité et																																																																																																																												                recevez des notifications en temps réel.
			</p>
			<button class="btn btn-light rounded-pill px-4 fw-bold">Voir mes candidatures</button>
		</div>

		<div class="col-lg-6">
			<img src="./image/TrouverStage.png" class="img-fluid rounded-4 glass p-2"/>
		</div>
		<div class="col-lg-6 glass p-5">
			<h3>Trouver mon stage</h3>
			<p class="text-light">
				Rémunération, télétravail, avantages… Toutes les informations
																																																																																																																																																																								                essentielles sont claires dès le départ pour vous aider à faire le bon choix.
			</p>
			<button class="btn btn-light rounded-pill px-4 fw-bold">Voir les offres</button>
		</div>

		<div class="col-lg-6">
			<img src="./image/TrouverEntreprise.jpg" class="img-fluid rounded-4 glass p-2" style="max-width: 277px; min-height: 220px"/>
		</div>
		<div class="col-lg-6 glass p-5">
			<h3>Trouver les entreprises qui me correspondent</h3>
			<p class="text-light">
				Processus de recrutement, délais de réponse, conditions de travail…
																																																																																																																												Accédez à des informations fiables et gagnez du temps dans votre recherche.
			</p>
			<button class="btn btn-light rounded-pill px-4 fw-bold">Voir les entreprises</button>
		</div>
	</div>
</main>{% endblock %}
